<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
							 http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
		 version="2.4">

	<resource-ref>
		<description>Test DB</description>
		<res-ref-name>jdbc/TestDB</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

	<!-- NOTE use servlet-filter instead of servlet if using jsp from Jersey -->
	<filter>
		<filter-name>Jersey</filter-name>
		<filter-class>org.glassfish.jersey.servlet.ServletContainer</filter-class>
		<!-- <filter-class>com.sun.jersey.spi.container.servlet.ServletContainer</filter-class> also possible ?! -->
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>com.blaeser.controller.JAXRSConfiguration</param-value>
		</init-param>
		<init-param>
			<!-- location for jsp files -->
			<param-name>jersey.config.server.mvc.templateBasePath.jsp</param-name>
			<param-value>/WEB-INF/jsp</param-value>
		</init-param>
		<init-param>
			<!-- location for static resources -->
			<!--NOTE if jersey 1.x: <param-name>com.sun.jersey.config.property.WebPageContentRegex</param-name>-->
			<param-name>jersey.config.servlet.filter.staticContentRegex</param-name>
			<param-value>/resources/(images|js|css)/.*</param-value>
			<!-- TODO why should be 'jsp' in it? <param-value>/resources/(images|js|css|(WEB-INF/jsp))/.*</param-value>-->
		</init-param>
		<!--<init-param>-->
			<!--<param-name>jersey.config.servlet.filter.forwardOn404</param-name>-->
			<!--<param-value>true</param-value>-->
		<!--</init-param>-->
	</filter>

	<filter-mapping>
		<filter-name>Jersey</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

</web-app>